<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicDataDisplay" version="0.3.0.1" targetFramework="net451" />
  <package id="DynamicDataDisplayWpf" version="0.4.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net451" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net451" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net451" />
  <package id="NLog" version="4.1.0" targetFramework="net451" />
  <package id="SerialPortLib" version="1.0.11" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.98.1" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.98.1" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.98.1" targetFramework="net451" />
  <package id="Toolkit.Charting" version="1.0.5755.26422" targetFramework="net451" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net451" />
  <package id="Toolkit.CommonResources" version="1.0.5752.28158" targetFramework="net451" />
  <package id="Toolkit.Data" version="1.0.5755.26407" targetFramework="net451" />
  <package id="Toolkit.Drawing" version="1.0.5755.26408" targetFramework="net451" />
  <package id="Toolkit.Runtime" version="1.0.5755.26410" targetFramework="net451" />
  <package id="Toolkit.Scripting" version="1.0.5755.26411" targetFramework="net451" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net451" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net451" />
</packages>